/* Phone 0-599 px */
/* Default styling */
html {
  font-size: 12pt;
  min-height: 100%;
  background: linear-gradient(#d9e4f5,#f5e3e6);
}

#blog-header {
  padding: 1rem;
}

.post {
  width: 100%;
  padding: 1rem;
}

#blog-title {
  font-family: 'Noto Sans';
  font-size: 2.8rem;
  font-weight: 900;  
  line-height: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#blog-description {
  font-family: 'Noto Serif';
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.8rem;
  text-align: center;
}

a {
  text-decoration: underline;
}

a:link, a:visited {
  color: #000000;
}

a:hover {
  color: #5c5c5c;
}

.post  {
  background: #ffffff;
  border-radius: 5px;
  margin: 0 auto 2.8rem auto;
}

.post-header {
  margin-bottom: 1.4rem;
}

.post-date {
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.post-title {
  font-family: 'Noto Sans';
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 1rem auto 2rem auto;
}

.post-body {
  font-family: 'Noto Serif';
  font-weight: 400;
  line-height: 1.8rem;
}

.post p {
  margin-bottom: 2.4rem;
}

.post table {
  font-family: 'Noto Sans';
  font-size: 0.8rem;
  border-collapse: collapse;
}

.post th {
  text-align: center;
  font-weight: 700;
}

.post td, .post th {
  border: 1px solid grey;
  padding: 0.5rem;
  line-height: 1rem;
}

/* Tablet 600-904 px and 905-1239 px */
@media screen and (min-width: 600px) and (max-width: 1239px) {
  #blog-header {
    padding: 1.4rem;
  }

  .post  {
    max-width: 40rem;
    padding: 2rem;
  }
}

/* Laptop and desktop 1240+ px*/
@media screen and (min-width: 1240px) {
  #blog-header {
    padding: 1.4rem;
  }

  .post {
    max-width: 40rem;
    padding: 2.8rem;
  }
}
